<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Are you sure you want to delete this expense for voucher {{ expense.purchase.voucher_number }}?</h3>

<form method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger">Yes, Delete</button>
  <a href="{% url 'adminapp:spot_purchase_expense_list' %}" class="btn btn-secondary">Cancel</a>
</form>

</body>
</html>