<!-- ItemBrand List Template -->
<!DOCTYPE html>
<html>
<head>
    <title>Item Brand List</title>
</head>
<body>
    <h1>Item Brand List</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        {% for obj in object_list %}
        <tr>
            <td>{{ obj.id }}</td>
            <td>{{ obj.name }}</td>
            <td><a href="{% url 'adminapp:item_brand_update' obj.id %}">Edit</a></td>
            <td><a href="{% url 'adminapp:item_brand_delete' obj.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>