<!-- PeelingCharge List Template -->
<!DOCTYPE html>
<html>
<head><title>Peeling Charge List</title></head>
<body>
<h1>Peeling Charge List</h1>
<table border="1">
<tr><th>ID</th><th>Charge</th><th>Actions</th></tr>
{% for obj in object_list %}
<tr><td>{{ obj.id }}</td><td>{{ obj.charge }}</td><td><a href="{% url 'adminapp:peeling_charge_update' obj.id %}">Edit</a></td>
            <td><a href="{% url 'adminapp:peeling_charge_delete' obj.id %}">Delete</a></td>
</tr>
{% endfor %}
</table>
</body>
</html>