<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Settings List</h2>
<a href="{% url 'adminapp:settings_create' %}">Add New Setting</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Dollar Rate to INR</th>
        <th>Vehicle Rent per KM</th>
        <th>Actions</th>
    </tr>
    {% for s in settings %}
    <tr>
        <td>{{ s.id }}</td>
        <td>{{ s.dollar_rate_to_inr }}</td>
        <td>{{ s.vehicle_rent_km }}</td>
        <td>
            <a href="{% url 'adminapp:settings_update' s.id %}">Edit</a> |
            <a href="{% url 'adminapp:settings_delete' s.id %}">Delete</a>
        </td>
    </tr>
    {% empty %}
    <tr><td colspan="4">No settings found.</td></tr>
    {% endfor %}
</table>

</body>
</html>